.App {
    text-align: center;
    padding-top: 40px;
}

.add-team {
    text-align: left;
    padding-bottom: 20px;
}

.score {
    width: 40px;
    height: 30px;
}

li {
    list-style-type: none;
    padding-bottom: 10px;
}

.ant-table-content {
    border: 2px solid dodgerblue;
}

.btn {
    padding: 0px 30px;
    margin-left: 10px;
}

